:root {
  /*========== Кольори ==========*/
  --primary-color: #4d5ae5;
  --secondary-color: #2e2f42;
  --container-color: #e7e9fc;
  --footer-color: #2e2f42;
  --text-color: #2e2f42;
  --text-color-light: #434455;
  --text-color-white: #f4f4fd;

  /*========== font  ==========*/
  --body-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* ========== font size ==========
  --logo-font-size: 26px;
  --h1-font-size: 44px;
  --h2-font-size: 36px;
  --h3-font-size: 16px;
  --p-font-size: 14px; */
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
  font-weight: 400;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 24px 0;
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
}

.logo-link {
  margin-right: 76px;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--primary-color);
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-light);
}

.hero {
  background-color: var(--secondary-color);
  padding: 188px 0px;
}

.hero-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: var(--text-color-white);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  border-radius: 4px;
  padding: 16px 32px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  color: var(--text-color-white);
  display: block;
  margin: 0 auto;
  border-color: transparent;
}

.advantages {
  padding: 120px 0px;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}
.advantages-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-light);
}

.team {
  padding: 120px 0px;
  background-color: var(--text-color-white);
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-item {
  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.team-img {
  display: block;
  width: 100%;
  height: auto;
}

.text-box {
  padding: 32px 0px;
}
.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--text-color-light);
}

.footer {
  background-color: var(--footer-color);
  padding: 100px 0px;
}

.footer-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--text-color-white);
  display: block;
  margin-bottom: 18px;
}
.footer-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-white);
  max-width: 264px;
}
