body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.logo {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}
.contacts-link:hover,
.contacts-link.focus {
  color: #404bbf;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
}

/* Team */
.team {
  background-color: #f4f4fd;
}
/*! Portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
/*footer*/
.footer-logo .logo-part {
  color: #2e2f42;
}
footer {
  background-color: #2e2f42;
}
.hero-btn {
  background-color: #4d5ae5;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
